	<ul class="site-nav list--inline {{ nav_alignment }}" id="SiteNav">
  		{% assign menu = linklists[settings.main_linklist] %}
 		{% for link in menu.links %}
  		{% assign toplvlnav = "" %}
  		{% assign secondlvlnav = "" %}
			{% if link.levels > 0 %}
  			{% assign toplvlnav = link.title %}
            	<li class="{% if link.active %} site-nav--active active{% endif %}">
              		<a href="#" class="site-nav__link site-nav__link--main open-{{link.title | handleize}}" data-open="expand-{{link.title | handleize}}">
                		{{ link.title }}
              		</a>
                  	<div class="expand-{{link.title | handleize}} subslideout">
                    	<ul>
                          	<li><a href="#" class="subtitle" data-open="expand-{{toplvlnav | handleize}}">{{toplvlnav}}</a></li>
              				{% for sub_link in link.links %}
                  				{% if sub_link.levels > 0 %}
                      				{% assign secondlvlnav = sub_link.title %}
      								<li class="subnavlink{% if sub_link.active %}-active active{% endif %} open-{{sub_link.title | handleize}}">
        								<a href="#" class="subnavlink" data-open="expand-{{sub_link.title | handleize}}">{{ sub_link.title }}{% include 'icon-chevron-right' %}</a>
      								</li>
                          			<div class="expand-{{sub_link.title | handleize}} subsubslideout">
                      					<ul>
                          					<li><a class="subtitle" href="#" data-open="expand-{{secondlvlnav | handleize}}">{{secondlvlnav}}</a></li>
                                          	{% for sub_sub_link in sub_link.links %}
       											<li class="subsubnavlink{% if sub_sub_link.active %}-active active{% endif %}">
        											<a href="{{ sub_sub_link.url }}" class="subsubnavlink">{{ sub_sub_link.title }}</a>
      											</li>                                          
                                          	{% endfor %}
                                      	</ul>
                          			</div>
                      			{%else %}
      								<li class="subnavlink{% if sub_link.active %}-active active{% endif %}">
        								<a href="{{ sub_link.url }}" class="subnavlink">{{ sub_link.title }}</a>
      								</li>                                        
                      			{%endif %}  
                			{%endfor%}      
                   		</ul>
                  	</div>
            	</li>  
  			{% else %}
      			<li {% if link.active %}class="site-nav--active active"{% endif %}>
        			<a href="{{ link.url }}" class="site-nav__link site-nav__link--main animsition-link">{{ link.title }}</a>
      			</li>  
  			{% endif %}
  		{% endfor %}
        {% include 'search-toggle' %}
        {% include 'header-cart_icon' %}
      <li> <div id="country-picker" style="display: inline-block;"></div>	</li>
	</ul>  


    <script>
      $('#SiteNav a').on('click', function(){
        var item = $(this).attr("data-open");
        if ( $('.' + item).hasClass( "shownav" ) ) {
          $('.' + item).toggleClass('shownav');
        } else {
          $('.subsubslideout.shownav').removeClass('shownav');
          $('.' + item).toggleClass('shownav');
        }	
      });
    </script>


    <style>

    /* start scotts left nav */

    .subslideout { 
        height: 100vh;
        width: 0vw;
        position: absolute;
        z-index: 0;
        background-color: white;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      transition: all .50s ease;
      opacity:0;
      pointer-events: none;
    }

    .subslideout.shownav { 
      width: 25vw;
      opacity:1;
      z-index: -1;
      pointer-events: auto;
    }
      
    .subsubslideout { 
        height: 100vh;
        width: 0vw;
        position: absolute;
        z-index: 0;
        background-color: lightgrey;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      transition: all .50s ease;
      opacity:0;
      margin-left: 25vw;
    }

    .subsubslideout.shownav { 
      width: 25vw;
      opacity:1;
      z-index: -1;
      margin-left: 25vw;
    }

      .subsubslideout.shownav .subsubslideout.shownav  { 
      left: 25vw;
    }

    .site-header > div > div:first-of-type {z-index:999;}
          .site-header > div > div {z-index:99;}
      .site-header > div > div:last-of-type {z-index:1;}

      .site-nav ul {display:grid;}
    /* end scotts left nav */
    </style>