{% layout none %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{% paginate collection.products by 50 %}
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          	<td>pid</td>
            <td>title</td>
            <td>handle</td>
        </tr>
      </thead>
        <tbody id="product">
      {% for product in collection.products %}      
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.title}}</td>
                <td>{{product.handle}}</td>
            </tr>
          {% endfor %}
      </tbody>
      <tbody id="product-list-foot"><tr><td colspan="4"></td></tr></tbody>
  </table>
<script>
  $(document).ready(function(){
            for (i = 2; i <= {{ paginate.pages }}; i++) { // NEEDS TO LIE WITHIN THE PAGINATE PARAMETERS
                $.ajax({
                    type: 'GET',
                  url: '{{ shop.url }}{{ collection.url }}?page='+i,
                    success: function(data) {
                      var filteredData = $(data).filter("#product"); // THIS IS THE DIV SURROUNDING THE ROWS YOU WANT
                                    var tableget = $(data).filter("table"),
                                        tbodyget = $(tableget).find('tbody#product');
                      tbodyget.insertBefore( $("#product-list-foot") ); // THIS IS A LAST ITEM AFTER THE LIST
                    },
                                error: function(jqXHR, textStatus, errorThrown) {
                                  console.log(textStatus, errorThrown);
                                },
                    dataType: "html"
                });
            } // PUT A LISTENER ON THE AJAX IF YOU CARE ABOUT THEM BEING IN ALPHABETICAL ORDER
  });
          </script>
{% endpaginate %}